[Unit]
Description=NgrokTelegram
After=network.service

[Service]
type=simple
User=<user>
WorkingDirectory=<install_dir>
ExecStart=<path_python>/python <install_dir>daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
